body
{
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif; 
}
  
.banner
{
    background-color: #62757f;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    color: white;
    padding: 50px;
    text-align: center;
    margin: auto;
    width: 80%;
}

.box_the_best_film 
{
    background-color: #62757f;
    color: white;
    margin: auto;
    margin-top: 50px;
    height: 268px;
    width: 80%;
    border: solid 6px black;
    display: flex;
    align-items: center;
  }

.td_title_the_best_film 
{
    width: 40%;
    text-align: center;
    font-size: xx-large;
}

.td_picture_the_best_film {
    width: 60%;
    height: 100%;
    text-align: center;
    font-size: xx-large;
}

.picture_the_best_film 
{
    height: 268px;
}
  
#top_rated_films 
{
    font-size: xx-large;
    text-align: center;
    padding: 50px;
}
  